.contato{
    background-color: var(--cor-branco);
    padding: 1rem;
}

.contato__titulo,.contato__texto{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo{
    font-size: 1.12rem;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1rem 0;
}

.contato__email{
    padding: 1rem;
    border: 1px solid var(--cor-azul);
    border-radius: 1.5rem;
    width: 85%;
    color: var(--cor-azul);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    background: url("../assets/email.png") no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo{
        font-size: 1.5rem;
    }

    .contato__descricao{
        margin: 1rem;
        width: 36%;
    }
    
    .contato__email{
        width: 30%;
    }

}


@media screen and (min-width: 1728px){
    .contato{
        padding: 3rem 30vw;
    }
}